@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap";

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

#header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header a{
    color: white;
    background-color: teal;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
}

#header a:hover{
    background-color: rgb(0, 201, 201);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table{
    border-collapse: collapse;
    text-align: center;
}

tr{
    border-bottom: 1px solid black;
}

/* td, th{
    padding: 5px;
} */

th, .employees td, .pays_log td, .hd{
    padding: 5px;
}

.paybox:hover{
    box-shadow: black 1px 1px 5px;
}

tr:hover > td{
    background-color: rgba(128, 128, 128, 0.315);
}

th,.hd{
    background-color: rgb(0, 66, 66);
    color: white;
}

input[type=button], input[type=submit]{
    background-color: teal;
    color: white;
    border: 0;
    padding: 5px;
    margin: 1px;
    min-width: 100px;
}

input[type=button]:not(:disabled):hover, #header a:hover{
    background-color: rgb(0, 207, 207);
    box-shadow: black 1px 1px 5px;
    cursor: pointer;
}

.turnin table{
    width: 500px;
}

select,input{
    padding: 5px;
}

input{
    margin: 3px;
}

input[type="button"]:disabled {
	color: grey;
}

hr{
    display: block;
    width: 100%;
}

.turnin{
    text-align: center;
}

.turnin p {
    background-color: black;
    color: white;
    margin: 10px 0;
}

.employees table, .employees > input{
    min-width: 500px;
}

#root > div{
    min-width: 500px;
    text-align: center;
}

.turnin div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.turnin > select, 
#root > div:not(:empty):not(.skip), 
.turnin > table, 
.employees > table , .pays_log > table{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
}

/* .pays {
    flex-wrap: wrap;
    flex-direction: row !important;
    align-items: flex-start !important;
} */

.paybox {
    margin: 5px;
    background-color: lightgray;
}

.paybox p {
    padding: 2px;
}