@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap";

* {
    font-family:'Roboto Slab',serif
}

body{
    margin: auto;
    /* width: 1000px; */
}

p{
    margin: 0;
    padding: 0;
}

table{
    /* table-layout:fixed; */
    /* white-space: pre; */
    /* overflow:hidden; */
    border-collapse: separate;
    text-align: center;
    width: 100%;
}

tr{
    margin: 0;
    padding: 0;
}

td, th, table{
    border: 1px solid rgb(221, 221, 221);
}

tr{
    border: 1px solid black;
}

th{
    background: rgb(219, 219, 219);
    border-radius: 5px 0; 
    border: 1px solid black;
    padding: 5px;
    
}

tr:hover > td{
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
}

#links, #root {
    margin: auto;
    align-content: center;
}

#links a{
    padding: 5px;
}

.paytable{
    width: 100%;
    border-collapse: collapse; 
}

.pay:hover *{
    /* background-color: transparent; */
    background-color: rgb(189, 189, 189);
}

.pay tr{
    border: none;
}



.spacer{
    min-height: 50px;
    display: block;
}

td,tr,th{
    box-sizing: border-box;
}

input, select{
    text-align: center;
    /* width: 100%; */
    box-sizing: border-box;
}